{{ template "layout" . }}

{{ define "main" }}
<div class="container" style="margin-top: 100px;">

    <form action="insert" method="post">
        <div class="mb-3">
          <label class="form-label">Nama Penerima Tugas</label>
          <input type="text" class="form-control" name="nama">
        </div>
        <div class="mb-3">
          <label class="form-label">Nama Task</label>
          <input type="text" class="form-control" name="nama_task">
        </div>
        <div class="mb-3">
          <label class="form-label">Deadline</label>
          <input type="date" class="form-control" name="deadline">
        </div>
       
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{{ end }}