{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Produk</title>
</head>
<body>
    <header>
        <div class="logo-header"><img src="/public/resize-logo-web-dev1.png"></div>
        <a href="#" class="logo-text">GoNewbie</a>
    </header>
    
    {{ template "main" .}}
     
    <footer>
        This is Footer
    </footer>
    
</body>
</html>
{{ end }}