{{ template "layout" . }}
{{ define "main" }}

<h2> Registered </h2>

    <table border="1" class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Nama Task</th>
        <th>Deadline</th>
      </tr>
      </thead>
       <tbody>
        {{ range .Tasks}}
       <tr>
        <td> {{ .id }}</td>
        <td> {{ .nama }} </td>
        <td> {{ .task }} </td> 
        <td>  {{.date }} </td> 
      </tr>
      {{ end }}
       </tbody>
    </table>



{{ end }}