* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(68, 175, 247);
    color:black;
}
header {
    margin-bottom: 30px;
}
.logo-header {
    margin-left: 8px;
    margin-top: 1px;
    position: fixed;
}
.logo-text {
    margin-left: 10px;
    padding-top: 50px;
    position: fixed;
}


.box-with-shadow{
    border: 1px solid rgb(247, 247, 247);
    padding: 10px;
    box-shadow: 5px 7px rgba(178, 201, 216, 0.582);
    margin-bottom: 25px;
    /* width: 100vh; */
}
.text{
    color: black;
    font-size: 15px;
}
.nav-top{
    float: right;
}
.nav-top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* float: right; */
}
.nav-top li{
    display: inline-block;
    /* float: left; */
    margin-right: 2px;

}
.nav-top li a{
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif ;
    color: rgb(131, 182, 241);
    background: #2f3036;
    text-decoration: none;
}